<table>
<% @comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.created_at %>
	</td>
	<td>
	  <%= comment.body %>
	</td>
	<td>
	  <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
	<td>
  </tr>
<% end %>
</table>
