<h1>Comment @ Freely and Easily!</h1>

<div id='wrap'>
  <div id='sideWrap'>
    <%= render partial: "form" %>
  </div><!-- /sideWrap -->
  <div id='mainWrap'>
    <h1>CommentsList</h1>
    <div id='commentslist'>
      <%= render partial: "record" %>
    </div>
  </div><!-- /mainWrap -->
</div><!-- /wrap -->

<br>