<%= form_for(@instrucion) do |f| %>
  <% if @instrucion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrucion.errors.count, "error") %> prohibited this instrucion from being saved:</h2>

      <ul>
      <% @instrucion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
